@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);

$blue: #416690;
$border-color: #bcbcbc;
$grey-dark: #1a1a1a;
$grey-light: #555;

$primary: $blue;
$app-max-width: 800px;
$family-sans-serif: 'Libre Franklin', Helvetica, Arial, Verdana, sans-serif;

@import "node_modules/bulma/bulma";

@font-face {
  font-family: NanumSquare;
  src: url('../fonts/NanumSquareRegular.ttf') format('truetype');
}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  background: transparent;
}

article {
  margin-top: 80px;
}

i {
  color: $grey-dark;
}

#copyright {
  font-size: 0.9em;
  margin: 10px 0;
}

#error-page .title.is-1 {
  font-size: 5vw;
}

#footer .container {
  border-top: 1px solid $border-color;
  padding-top: 10px;
}

#header {

  a {
    color: $grey-dark;
  }

  #title {
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .nav {
    min-height: 0;
  }

  .nav-left {
    line-height: 2em;
  }

  .nav-right {
    align-items: flex-end;
  }

  .menu-link {
    font-size: 0.9em;
    height: 100%;
    letter-spacing: 0.04em;
    line-height: 2.7em;
    text-align: end;
    width: 5em;
  }

  .social-link {
    margin-left: 10px;
  }

  .level-item:hover {
    color: $grey-light;
  }

  .level.is-mobile {
    align-items: flex-end;
    height: 24px;
  }
}

.button {
  font-size: 10px;
  height: 20px;
}

.container {
  margin: 0 auto;
  max-width: $app-max-width;
}

.content,
p {
  line-height: 1.6em;
}

.fa-stack:hover {

  .fa-stack-1x {
    color: $grey-dark;
  }

  .fa-stack-2x {
    color: transparent;
  }
}

.has-margin-top {
  margin-top: 30px;
}

.hoverable {

  .hovered {
    display: none;
  }

  .unhovered {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    display: block;
  }
}

.hoverable:hover {

  .hovered {
    animation: fadeIn 0.7s;
    -webkit-animation: fadeIn 0.7s;
    display: block;
  }

  .unhovered {
    display: none;
  }
}

.is-korean {
  font-family: NanumSquare, Helvetica, sans-serif;
  font-size: 0.9em;
}

.is-letter-spaced {
  letter-spacing: 0.3em;
  margin-right: -0.3em;
}

.is-not-visible {
  visibility: hidden;
}

.md-image {
  height: auto;
  margin-bottom: 30px;
}

.section.main {
  padding-top: 0;
}

.subject {
  font-size: 16px;
  letter-spacing: 6px;
  line-height: 1.25em;
  margin-bottom: 16px;

  a {
    color: #272727;
  }
}

.subtitle {
  color: #69707a;
}

.summary {
  line-height: 1.6em;
}
