{{ define "main" }}
<section class="section main">
  <div class="container">
    {{ range sort .Paginator.Pages }}
      <article>
        <h6 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h6>
        <div class="subject">
          <a href="{{ .Permalink }}">{{ upper .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
        </div>
        <div class="content summary">
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}...
            <a class="button is-link" href="{{ .Permalink }}">
              Read more
              <span class="icon is-small">
                <i class="fa fa-angle-double-right"></i>
              </span>
            </a>
          {{ end }}
        </div>
      </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ end }}
