{{ define "main" }}
<section class="section main">
  <div class="container">
    <h6 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h6>
    <h1 class="subject">{{ upper .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
