<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{ if eq .IsHome true }}
    {{ .Site.Title }}
  {{ else }}
    {{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{{ $style := resources.Get "scss/common.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $favicon := resources.Get "favicon.png" | resources.Fingerprint }}
<link rel="shortcut icon" href="{{ $favicon.Permalink }}">
{{ block "header" . }}
  {{ partial "header" . }}
{{ end }}
{{ block "main" . }}
{{ end }}
{{ block "footer" . }}
  {{ partial "footer" . }}
{{ end }}
{{ template "_internal/google_analytics_async.html" . }}
