<section id="footer" class="section">
  <div class="container has-text-right">
    {{ range .Site.Params.Social }}
      <a class="social-link" href="{{ .url }}">
        <span class="fa-stack">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="{{ .fa_icon }} fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {{ end }}
    <p id="copyright">{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
