<section id="header" class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <h1 id="title">{{ .Site.Title }}</h1>
        <span class="is-korean is-not-visible">김민우</span>
      </div>
      <div class="nav-right">
        <nav class="level is-mobile">
          {{ range .Site.Params.Menu }}
            <a class="level-item menu-link hoverable" href="{{ .url }}">
              <h4 class="unhovered">{{ upper .name }}</h4>
              <h4 class="hovered">{{ upper .kor }}</h4>
            </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
