<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ $style := resources.Get "scss/resume.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $favicon := resources.Get "favicon.png" | resources.Fingerprint }}
<link rel="shortcut icon" href="{{ $favicon.Permalink }}">

<section class="has-text-center">
  <h1 id="name">Min Woo Kim</h1>
  <ul id="contact">
    <li><a href="mailto:me@minwookim.co">me@minwookim.co</li>
    <li>|</li>
    <li><a href="/">minwookim.co</a></li>
  </ul>
</section>

<section id="experience">
  <h4 class="section-label">Experience</h4>
  <div class="summary">
    <span class="title">Google</span><span>New York, NY</span>
    <span class="is-aligned-right">February 2018 – Present</span>
  </div>
  <div>
    <span class="italic">Senior Software Engineer at Google Ads</span>
  </div>
  <div class="summary">
    <span class="title">Goldman Sachs</span><span>New York, NY</span>
    <span class="is-aligned-right">July 2016 – February 2018</span>
  </div>
  <div>
    <span class="italic">Technology Analyst at Finance Engineering</span>
  </div>
  <ul>
    <li>Developed full-stack AngularJS application to run risk analysis on firmwide financial products against hypothetical market scenarios; implemented D3-based data visualization and optimized asynchronous requests to enable realtime analysis; built shared module to handle common UI tasks, such as data visualization, error reporting, and AJAX requests</li>
    <li>Established pipeline of data streams generated from compute farm into databases, filesystem, and Hadoop clusters, utilizing EMS, custom Java bundler, shell scripts, and Python-based job scheduler</li>
  </ul>
  <div class="summary">
    <span class="title">InterSystems Corporation</span><span>Cambridge, MA</span>
    <span class="is-aligned-right">June 2015 – August 2015</span>
  </div>
  <div>
    <span class="italic">Intern</span>
  </div>
  <ul>
    <li>Created single-page application and REST API for bug management using AngularJS and Caché ObjectScript</li>
    <li>Integrated new interface with 15-year legacy infrastructure by implementing wrapper around existing services</li>
  </ul>
  <div class="summary">
    <span class="title">Columbia University in the City of New York</span><span>New York, NY</span>
    <span class="is-aligned-right">May 2015 – May 2016</span>
  </div>
  <div>
    <span class="italic">Webmaster at Center on Organizational Innovation</span>
  </div>
  <ul>
    <li>Built and managed websites using Ruby on Rails and Django for Columbia COI</li>
  </ul>
  <div class="summary">
    <span class="title">Republic of Korea Army Capital Defense Command</span><span>Seoul, South Korea</span>
    <span class="is-aligned-right">August 2012 – May 2014</span>
  </div>
  <div>
    <span class="italic">Sergeant Squad Leader</span>
  </div>
  <ul>
    <li>Led squad of 10 soldiers while serving as Capital Defense Command Chief of Staff’s secretary and army interpreter</li>
    <li>Participated annually in major US-ROK joint military exercises as army interpreter</li>
  </ul>
</section>

<section id="education">
  <h4 class="section-label">Education</h4>
  <div class="summary">
    <span class="title">Columbia University in the City of New York</span><span>New York, NY</span>
    <span class="is-aligned-right">May 2016</span>
  </div>
  <div>
    <span class="italic">Bachelor of Arts in Computer Science</span>
  </div>
  <ul>
    <li>Republic of Korea Army Leave of Absence (2012-2014); graduated in six semesters</li>
    <li>Computer science courses in natural language processing, 3D UI and augmented reality, programming languages and translators, computer networks, database system, computer science theory, discrete mathematics, probability/statistics, and data structures</li>
  </ul>
  <div class="summary">
    <span class="title">Cushing Academy</span><span>Ashburnham, MA</span>
    <span class="is-aligned-right">May 2011</span>
  </div>
  <div>
    <span class="italic">High School Diploma, Valedictorian</span>
  </div>
</section>

<section id="volunteer-experience">
  <h4 class="section-label">Volunteer Experience</h4>
  <div class="summary">
    <span class="title">Columbia University in the City of New York</span><span>New York, NY</span>
    <span class="is-aligned-right">December 2016 – Present</span>
  </div>
  <div>
    <span class="italic">Alumni Interviewer</span>
  </div>
  <ul>
    <li>Conduct admissions interviews as part of Columbia Alumni Representative Committee</li>
  </ul>
  <div class="summary">
    <span class="title">New York Cares</span><span>New York, NY</span>
    <span class="is-aligned-right">October 2016 – April 2017</span>
  </div>
  <div>
    <span class="italic">SAT Tutor</span>
  </div>
  <ul>
    <li>Helped prepare group of low-income New York City high school students to increase SAT scores and get into college</li>
  </ul>
  <div class="summary">
    <span class="title">Edonation</span><span>New York, NY</span>
    <span class="is-aligned-right">August 2015 – November 2016</span>
  </div>
  <div>
    <span class="italic">Computer Programming Instrctor</span>
  </div>
  <ul>
    <li>Hosted free weekly programming classes to residents of New York City area</li>
  </ul>
  <div class="summary">
    <span class="title">SongEun ArtSpace</span><span>Seoul, South Korea</span>
  </div>
  <div>
    <span class="italic">Docent</span>
  </div>
  <ul>
    <li>Provided guided tours of contemporary art exhibition titled “Indonesia in SongEun: MES 56 - Keren dan Beken”<span class="is-aligned-right">June 2016</span></li>
    <li>Provided guided tours of contemporary art exhibition titled “Italy in SongEun: We Have Never Been Modern”<span class="is-aligned-right">July 2014 – August 2014</span></li>
  </ul>
</section>

<section id="involvement">
  <h4 class="section-label">Involvement</h4>
  <div class="summary">
    <span class="title">Intertel</span>
    <span class="is-aligned-right">March 2020 – Present</span>
  </div>
  <div>
    <span class="italic">Member</span>
  </div>
  <div class="summary">
    <span class="title">Mensa International</span>
    <span class="is-aligned-right">July 2009 – Present</span>
  </div>
  <div>
    <span class="italic">Member</span>
  </div>
</section>

<section id="projects-and-publications">
  <h4 class="section-label">Projects and Publications</h4>
  <div class="summary">
    <span class="title">VGA Tour 2016</span><span>New York, NY</span>
    <span class="is-aligned-right">April 2016 – May 2016</span>
  </div>
  <div>
    <span class="italic">Game Developer</span>
  </div>
  <ul>
    <li>Created augmented reality mini-golf game run on Google Cardboard and iOS devices</li>
    <li>Built interactive virtual environment utilizing AR camera, accelerometer, and touchscreen interfaces using Unity and Vuforia</li>
  </ul>
  <div class="summary">
    <span class="title">Rooftop</span><span >New York, NY</span>
    <span class="is-aligned-right">August 2015 – October 2015</span>
  </div>
  <div>
    <span class="italic">Contestant and Software Developer</span>
  </div>
  <ul>
    <li>Built prototype web application using MongoDB and AngularJS for startup pitch competition with project aiming to establish online rooftop venues platform</li>
    <li>Won Second Place in <i>2015 Global Startup Springboard in New York</i></li>
  </ul>
  <div class="summary">
    <span class="title">Report on Success Factors for the Korean Mobile Application Developers in the US Market</span>
    <span class="is-aligned-right">January 2015</span>
  </div>
  <div>
    <span class="italic">Researcher</span>
  </div>
  <ul>
    <li>Wrote comprehensive report on US mobile application industry for South Korea’s national trade promotion organization</li>
  </ul>
</section>

<section id="skills">
  <h4 class="section-label">Skills</h4>
  <ul>
    <li>Languages: Java, JavaScript, TypeScript, C, Dart, Python, Bash, SQL, and HTML/CSS</li>
    <li>Web Development: Angular, AngularDart, AngularJS, NgRx, RxJS, Jasmine, and Selenium</li>
    <li>Databases/Tools: GCP, Spanner, Protobuf, and Linux</li>
  </ul>
</section>

<section id="footer" class="has-text-center">
  <p>References available upon request. Thank you for your interest!</p>
  <small>v4.4-20221114</small>
</section>

{{ template "_internal/google_analytics_async.html" . }}
