{{ define "header" }}
<span></span>
{{ end }}
{{ define "main" }}
<section id="error-page" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 is-letter-spaced">{{ upper "Oops!" }}</h1>
      <h5 class="subtitle is-5 is-letter-spaced">
        {{ upper "The page you requested could not be found" }}
      </h5>
      <p>
        Head on over to the <a href="{{ .Site.BaseURL }}">homepage</a> or feel
        free to contact <a href="mailto:me@minwookim.co">me</a> if you have any
        questions.
      </p>
    </div>
  </div>
</section>
{{ end }}
{{ define "footer" }}
<span></span>
{{ end }}
